<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.t0l1k.sread"
    android:versionCode="1"
    android:versionName="1.0">
  <application android:label="Rapid Read">
    <activity android:name="org.golang.app.GoNativeActivity"
	      android:label="rapid read"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        android:screenOrientation="landscape"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
      <meta-data android:name="android.app.lib_name" android:value="rapid read" />
      <intent-filter>
	<action android:name="android.intent.action.MAIN" />
	<category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
</manifest>
